build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/client.vcxproj
build/client.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/server.vcxproj
build/server.vcxproj.filters
build/websocket_demo.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-922f0255092e5668c8e2.json
build/.cmake/api/v1/reply/cmakeFiles-v1-bdaa6fbc670428754897.json
build/.cmake/api/v1/reply/codemodel-v2-479d756bdb228178bb42.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-08-27T06-56-56-0819.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-5ba56f3b69cffd8da009.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-5ba56f3b69cffd8da009.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-5ba56f3b69cffd8da009.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-5ba56f3b69cffd8da009.json
build/.cmake/api/v1/reply/target-client-Debug-d3c151378f05890d961a.json
build/.cmake/api/v1/reply/target-client-MinSizeRel-96f5f17d224ce500b9e6.json
build/.cmake/api/v1/reply/target-client-Release-ce1c335823e0eaf3e95a.json
build/.cmake/api/v1/reply/target-client-RelWithDebInfo-ed002a2ab8e613bdb896.json
build/.cmake/api/v1/reply/target-server-Debug-35e62714b354c17c5472.json
build/.cmake/api/v1/reply/target-server-MinSizeRel-4fcd6ebce7969e5d8cbd.json
build/.cmake/api/v1/reply/target-server-Release-2fed0a3cad2b8fd60d03.json
build/.cmake/api/v1/reply/target-server-RelWithDebInfo-df22799d8a284ed34b93.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-a6756daca8eb0fb7d180.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-a6756daca8eb0fb7d180.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-a6756daca8eb0fb7d180.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-a6756daca8eb0fb7d180.json
build/.cmake/api/v1/reply/toolchains-v1-143597590e05b1a53b54.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.30.0/CMakeCCompiler.cmake
build/CMakeFiles/3.30.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.30.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.30.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.30.0/CMakeRCCompiler.cmake
build/CMakeFiles/3.30.0/CMakeSystem.cmake
build/CMakeFiles/3.30.0/VCTargetsPath.txt
build/CMakeFiles/3.30.0/VCTargetsPath.vcxproj
build/CMakeFiles/3.30.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.30.0/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.30.0/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.30.0/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.30.0/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.30.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.30.0/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.30.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.30.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.30.0/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.30.0/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.30.0/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.30.0/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.30.0/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.30.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.30.0/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.30.0/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.30.0/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.30.0/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.30.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.30.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.30.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.30.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.30.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.30.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.30.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.30.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.30.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.30.0/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.30.0/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/aaf161fdb2fcd2dc316e7ecfdbb3443c/generate.stamp.rule
.vscode/settings.json
